version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.stage
    container_name: nuture_bot_stage
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always
    networks:
      - nuture-bot-network

  nginx:
    build: ./nginx
    image: nginx
    container_name: "nginx_cont"
    ports:
      - "80:80"
    restart: always
    depends_on:
      - api
    networks:
      - nuture-bot-network

networks:
  nuture-bot-network: