# docker-compose.stage.yml
version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.stage
    container_name: nuture_bot_stage
    env_file:
      - .env
    ports:
      - "80:8000"
    restart: always
